.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 96px;
  font-weight: bold;
  line-height: 136px;
  height: 136px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 136px;
}

.active {
  border: 3px solid red;
}

.square:focus {
  outline: none;
}